h1 {
  color: brown;
}
ul {
  color: cadetblue;
}
.text-center {
  text-align: center;
}
/* The ingredients required for making Formulation of Washing Detergent Powder are Soda Ash, Global Salt, Linear Alkyl Benzene Sulphonic Acid (LABSA), Sodium Tri Poly Phosphate (STPP), Triple Super Phosphate (TSP) , Sodium Hydroxide Solution (Lye), Sodium Lauryl Sulphate (SLS), Silky, Optical Brightener, Enzyme, NANSA ... */

/* Ingredients used for preparing 5 Kg Washing Powder are as follows:
Ingredients used for making 5 Kg Washing Powder -
1) Washing Soda - 2.5 Kg
2) Acid Slurry - 500 gms
3) SLES Liquid - 200 ml
4) TSP - 500 gms
5) STPP - 500 gms
6) CMC - 100 gms
7) Tinopal - 100 gms
8) G-Salt - 1 Kg
9) Fragrance/ Scent - 50 ml */
/* 10) Coloured Granuels */
/* Office address - 140, Netaji Nagar colony, kolkata - 100
Owner & consultant - Md Nazrul Haque (Ex. Senior Faculty Member MSME DI Govt of India)
Email - asunshilpogori3535@gmail.com
MOB - 9903043535 */
/* To grow your business:-
Digital Marketing
Professional website
Android app
Sell ​​products online
Online business
Facebook Business Page
Google Business Pages
Any online service
Call / WhatsApp - +91 8100240276
Name - Samir Paul */
